<%- include ./partials/header.ejs %>
    <!--Header / Navbar-->
    <%- include ./partials/main_nav.ejs %>

    <!--Main Content-->
    <main class="flex-fill">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %> page</p>
    </main>

    <!-- Footer / Navbar -->
    <%- include ./partials/footer.ejs %>
